In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

## Preprocessing

In [30]:
# Import our dependencies
import pandas as pd
import tensorflow as tf

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [3]:
# Import and read the charity_data.csv
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500

application_type_value_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_type_value_counts[application_type_value_counts < cutoff_value].index.tolist()
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [8]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts_greater_than_one = classification_value_counts[classification_value_counts > 1]
classification_value_counts_greater_than_one

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value_classification = 1000

classifications_to_replace = classification_value_counts[classification_value_counts <= cutoff_value_classification].index.tolist()
classifications_to_replace

['C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [12]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_encoded_df = pd.get_dummies(application_df)
application_encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [14]:
# Split our preprocessed data into our features and target arrays
X = application_encoded_df.drop(columns=['IS_SUCCESSFUL'])
y = application_encoded_df['IS_SUCCESSFUL']

In [15]:
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,False,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,False,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [16]:
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

### Spliting the preprocessed data into training and testing dataset

- Training data (features): 27,439 samples
- Testing data (features): 6,860 samples
- Training data (target): 27,439 samples
- Testing data (target): 6,860 samples

In [19]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
(len(X_train), len(X_test), len(y_train), len(y_test))

(27439, 6860, 27439, 6860)

In [20]:
# Creating a StandardScaler instance
scaler = StandardScaler()

# Fitting the StandardScaler
X_scaler = scaler.fit(X_train)

# Scaling the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

To define a deep neural network, we'll use TensorFlow and its high-level Keras API. Here is a proposed structure for the neural network:

- Input Layer: The number of nodes will be equal to the number of features in our dataset, which is 43.
- Hidden Layer 1: We'll start with 80 nodes in the first hidden layer and use the 'relu' activation function.
- Hidden Layer 2: We'll have 30 nodes in the second hidden layer and also use the 'relu' activation function.
- Output Layer: Since this is a binary classification problem, we'll have 1 node in the output layer with a 'sigmoid' activation function to output values between 0 and 1.

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 50
hidden_nodes_layer3 = 20

In [22]:
nn = tf.keras.models.Sequential()

In [23]:
# First hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

In [24]:
# Second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

In [24]:
# Third hidden layer
nn.add(Dense(units=hidden_nodes_layer3, activation='relu'))

In [25]:
# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

In [26]:
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4400

 dense_1 (Dense)             (None, 20)                2020

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 6441 (25.16 KB)
Trainable params: 6441 (25.16 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Compile the model

To compile the model, we need to specify the optimizer, loss function, and metrics. For a binary classification problem like this one, we can use the following settings:

- Optimizer: 'adam' — a popular choice for training deep neural networks as it automatically adjusts the learning rate during training.
- Loss function: 'binary_crossentropy' — a common choice for binary classification problems.
- Metrics: 'accuracy' — to track the accuracy of the training process.

In [28]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [31]:
# Implementing early stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

### Train the model

In [32]:
# Training the model with an increased number of epochs
fit_model_optimized = nn.fit(X_train_scaled, y_train, epochs=200, validation_split=0.1, callbacks=[early_stopping])

Epoch 1/200
772/772 [==============================] - 4s 3ms/step - loss: 0.5695 - accuracy: 0.7209 - val_loss: 0.5471 - val_accuracy: 0.7394
Epoch 2/200
772/772 [==============================] - 2s 3ms/step - loss: 0.5555 - accuracy: 0.7276 - val_loss: 0.5471 - val_accuracy: 0.7354
Epoch 3/200
772/772 [==============================] - 2s 3ms/step - loss: 0.5522 - accuracy: 0.7297 - val_loss: 0.5422 - val_accuracy: 0.7383
Epoch 4/200
772/772 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7310 - val_loss: 0.5426 - val_accuracy: 0.7372
Epoch 5/200
772/772 [==============================] - 2s 3ms/step - loss: 0.5488 - accuracy: 0.7316 - val_loss: 0.5421 - val_accuracy: 0.7369
Epoch 6/200
772/772 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7326 - val_loss: 0.5434 - val_accuracy: 0.7398
Epoch 7/200
772/772 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7320 - val_loss: 0.5434 - val_accuracy: 0.7365
Epoch 8/200
772/772 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7327 - val_loss: 0.5426 - val_accuracy: 0.7347
Epoch 9/200
772/772 [==============================] - 2s 3ms/step - loss: 0.5466 - accuracy: 0.7331 - val_loss: 0.5415 - val_accuracy: 0.7358
Epoch 10/200
772/772 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7340 - val_loss: 0.5409 - val_accuracy: 0.7394
Epoch 11/200
772/772 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7344 - val_loss: 0.5424 - val_accuracy: 0.7376
Epoch 12/200
772/772 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7341 - val_loss: 0.5443 - val_accuracy: 0.7387
Epoch 13/200
772/772 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7334 - val_loss: 0.5434 - val_accuracy: 0.7343
Epoch 14/200
772/772 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7342 - val_loss: 0.5442 - val_accuracy: 0.7372
Epoch 15/200
772/772 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7359 - val_loss: 0.5417 - val_accuracy: 0.7383

### Evaluate the model using the test data

In [33]:
# Evaluating the model using the test data
model_loss_optimized, model_accuracy_optimized = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss_optimized}, Accuracy: {model_accuracy_optimized}")

215/215 - 0s - loss: 0.5564 - accuracy: 0.7287 - 401ms/epoch - 2ms/step
Loss: 0.5563810467720032, Accuracy: 0.7287172079086304

### Export our model to HDF5 file

In [34]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

C:\Development\columbia-university\venv\Lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(